token: [discord bot token] # Your bot token from the online Discord bot page
prefix: "$" # What people will say to call a bot command

minMarkov: 100 # Minimum messages for markov to run. The less you have, the poorer the results will be at the start.
markovLoad: 2000 # Every [number] of new messages, the markov database will regenerate.
maxMarkovBytes: 30000000 # Maximum number of bytes to read into memory for each server's message log.