# Bot
bot: # All of the settings for the bot itself should go here.
  token: BOT_TOKEN # Your bot token from the online Discord bot page
  prefix: "$" # What people will say to call a bot command
  opusLocation: "/usr/local/lib/libopus.so" # Example opus location on disc
  botAdmins: ["userId1", "userId2"] # Admins of the bot itself. They can do dangerous things.

# General settings
# These will be the DEFAULT server settings.
# If a user with the manage_server permission wants, they can change any of these settings
serverSettings:
  maxTimerSeconds: 10800 # Max time allowed on a timer in seconds. This is 3 hours.
  reactionsEnable: True # Do you want to enable message reactions?
  welcomeMessage: "{0.author.mention}! What's up homie?" # Welcome message for new users.
      # The special thing about this is that the member object is passed as 0. You can reference it with 
      # something like {0.mention} or {0.id} if you wanted. It's pretty dynamic.
  spamFilter: # Spam filter settings
    enable: False # Do you want to enable the filter?
    notifyAdmin: True # Do you want admins to be notified?
    giveWarning: True # Do you want to give the user a warning?
    muteUser: False # Do you want to mute the user that spammed?
  markov: # All of the markov settings should be stored here
    enable: True # Do you want to have markov enabled?
    min: 1000 # Minimum messages for markov to run. The less you have, the poorer the results will be at the start.
    sentenceLength: 5 # Number of words a message must be in order to be considered good data
    digestLength: 15 # Only add messages longer than this length to the current markov object
    removeNonAlphanumWords: True # Do you want to treat single-character words like # or % as real words?
    removeHttpLinks: True # Do you want to remove http links from messages?
    removeHereEveryone: True # Remove @here and @everyone from messages the bot logs
    removeUserMentions: False # Remove @User#Num mentions from text so users don't get pinged during markov calls
